<div class="menu">
  <hb-menu-group [icon]="'money'"
                 [title]="'Accounts'"
                 [itemList]="accountList"
                 [createItemLabel]="'Add new account'"
                 (createItem)="createAccount()"
                 (selectItem)="selectAccount($event)">
  </hb-menu-group>
  <hr>
  <hb-menu-group [icon]="'balance-scale'"
                 [title]="'Budgets'"
                 [itemList]="budgetList"
                 [createItemLabel]="'Add new budget'"
                 (createItem)="createBudget()"
                 (selectItem)="selectBudget($event)">
  </hb-menu-group>
  <hr>
  <hb-menu-group [icon]="'calendar-check'"
                 [title]="'Planned'"
                 (click)="selectPlanned()">
  </hb-menu-group>
  <hr>
  <hb-menu-group [icon]="'area-chart'"
                 [title]="'Reports'"
                 (title)="selectReports()">
  </hb-menu-group>
</div>
