<div class="menu">
  <hb-menu-group [icon]="'money'"
                 [title]="'Accounts'"
                 [itemList]="accountList"
                 [createItemLabel]="'Add new account'"
                 (createItem)="createAccount()"
                 (selectItem)="selectAccount()">
  </hb-menu-group>
  <hr>
  <hb-menu-group [icon]="'balance-scale'"
                 [title]="'Budgets'"
                 [itemList]="budgetList"
                 [createItemLabel]="'Add new budget'"
                 (createItem)="createBudget()"
                 (selectItem)="selectBudget()">
  </hb-menu-group>
</div>
