.menu {
  height: 100vh;
  width: 15%;
  background-color: #efeff5;
  font-family: 'Open Sans', Arial;

  &__category {
    &__title {
      font-size: 20px;
      padding: 10px 50px;
    }

    &__title:before {
      position: absolute;
      left: 15px;
    }

    &__item {
      font-size: 15px;
      padding: 5px 50px;
    }
  }
}

hr {
  height: 2px;
  margin-top: 8px;
  margin-bottom: 0;
}
