<div class="group">
  <div class="group__title" (click)="toggleGroup()">
    <i *ngIf="icon" class="group__icon group__icon--left" [ngClass]="'icon--' + icon"></i>
    <div>{{title}}</div>
    <i *ngIf="compact" class="group__icon group__icon--right icon--chevron-down"></i>
    <i *ngIf="!compact" class="group__icon group__icon--right icon--chevron-up"></i>
  </div>
  <div *ngIf="!compact">
    <hb-menu-entry *ngFor="let item of itemList"
                   [active]="item.active"
                   [label]="item.name"
                   (click)="selectItem.emit(item.id)">
    </hb-menu-entry>
    <div class="group__footer" *ngIf="!!createItemLabel" (click)="createItem.emit($event)">{{createItemLabel}}</div>
  </div>
</div>
