.group {
  display:block;
  cursor: pointer;

  &__title {
    position: relative;
    font-size: 20px;

    & div {
      padding: 10px 50px;
    }

    &:before {
      position: absolute;
      left: 15px;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }

  &__footer {
    padding: 5px 50px;
    color: darkorange;
    font-size: 15px;
    font-weight: bold;
  }
}
